// https://github.com/PanJiaChen/custom-element-theme/blob/master/element-variables.scss
/* 改变主题色变量 */
$--color-primary: #EE7C51  !default;

$--color-success: #67c23a !default;
$--color-warning: #eb9e05 !default;
$--color-danger: #fa5555 !default;
$--color-info: #409EFF !default;
